/* -- BASE COLOURS --
 * Selected colours for base palette
 * light grey background color: #eceff1
 * green color: #00DAA6
 * blue grey lighten: #b0bec5
 * pink accent: #fce4ec
 * dark grey accent: #455a64
 * dark dark grey accent: #263238
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
  /*padding: 20px;*/
  /*min-height: 20vh;*/
}

body, html {
  height: 100%;
}

body {
  background-color: #eceff1;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Kaushan Script', cursive;
}

h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 3em;
  color: #00DAA6;
  text-shadow: 2px 2px #000000;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1em;
}

.caption h4 {
  color: white;
}

.center {
  text-align: center;
}

.row {
  margin: 20px auto 0;
  height: 30%;
  padding: 0;
  width: 768px;
  display: block;
  /*border: 1px solid green;*/
}

.project-row {
  width: 1024px;
}

.block {
  margin-bottom: 20px;
}

.block li {
  /*line-height: 30px;*/
  list-style: none;
}

.highlight {
  color: #00DAA6;
}

.header {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  /*border: 1px solid red;*/
  display: block;
  height: auto;
}

.header.h1 {
  font-size: 3em;
  line-height: 36px;
  /*color: #00DAA6;*/
}

.headline {
  color: #263238;
  line-height: 80px;
}

.small-headline {
  color: #263238;
  line-height: 60px;
}


.caption {
  position: absolute;
  left: 0;
  top: 55%;
  width: 100%;
  height: 15%;
  /*border: 1px solid blue;*/
  display: block;
  line-height: 15px;
}

.action {
  position: absolute;
  left: 0;
  top: 70%;
  width: 100%;
  height: 15%;
  display: block;
  /*border: 1px solid green;*/
}

.circle-image > img{
  margin: 50px auto;
  border-radius: 100px;
  height: 200px;
}

.skills-container {
  font-size: 4em;
  /*color: #00DAA6;*/
  color: #fce4ec;
  margin: 20px 0;
}

.skills-container ul {
  list-style: none;
}

.project-feature {
  width: 25vw;
}

#contact {
  margin: 0 auto;
  width: 100vw;
  background-color: #b0bec5;
  padding: 15px 0;
}

#projects {
  padding: 15px 0;
}

#skills {
  margin: 0 auto;
  width: 100vw;
  background-color: #b0bec5;
  padding: 15px 0;
}

.bottom {
  margin-bottom: 30px;
}

.contact-icon {
  color: #263238;
  font-size: 1em;
  text-align: left;
}

.contact-icon a:link {
  text-decoration: none;
  color: #263238;
}

.contact-icon a:visited {
  text-decoration: none;
  color: #263238;
}

.contact-icon .fa-github, .contact-icon .fa-phone-square, .contact-icon .fa-linkedin-square, .contact-icon .fa-envelope {
  font-size: 2.25em;
  padding: 10px;
  color: #fce4ec;
}

.contact-links {
  text-align: center;
  text-decoration: none;
  color: #263238;
}

.button-large {
  padding: 10px 50px;
  font-size: 1.25em;
  border-radius: 10px;
  letter-spacing: 1px;
}
/*.main.container {
  border: 1px solid red;
  /*height: 50%;*/
  /*padding: 15%;*/

#projects-button {
  background-color: rgba(69,90,100, 0.1);
  border: 2px solid #fce4ec;
  /*border-radius: 15px;*/
}

#projects-button  a {
  text-decoration: none;
  color: #fce4ec;
}

.projects.fa.fa-github, .projects.fa.fa-desktop {
  font-size: 2em;
  color: #00DAA6;
  padding: 15px 15px 0;
}

.col-xs-12, .col-md-12 {
  width: 100%;
}

.col-md-4, .col-md-8, .col-xs-12, .col-md-12, .col-xs-4, .col-xs-6 {
  display: inline-block;
}

.col-md-4 {
  width: 30%;
  margin: 0 15px;
  vertical-align: top;
}

.col-md-8 {
  width: 60%;
  margin: 20px 15px;
}

.col-xs-4 {
  width: 24%;
}

.col-xs-6 {
  width: 49%;
  vertical-align: top;
}


/* -- navbar--
*/

.navbar-fixed {
  position: relative;
  height: 60px;
  z-index: 997;
}

.navbar-fixed nav {
  position: fixed;
}

nav {
  color: #ffff;
  background-color: #eceff1;
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin-top: 0;
}

/*nav.nav-extended {
  height: auto;
}*/

nav.nav-extended .nav-wrapper {
  min-height: 60px;
  height: auto;
}

nav.nav-extended .nav-content {
  position: relative;
  line-height: normal;
}

nav ul li {
  display: inline-block;
  text-align: right;
  transition: background-color .5s;
}

nav ul li.active {
  background-color: rgba(0, 0, 0, 0.2);
}

nav ul {
  float: right;
  vertical-align: top;
  margin: 0 auto;
}

nav ul a {
  color: #ffff;
  text-decoration: none;
  cursor: pointer;
  transition: background-color .5s;
  padding: 0 20px;
  display: block;
}

nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

nav .nav-wrapper {
  position: relative;
  height: 100%;
}

nav .brand-logo{
  display: inline-block;
  font-size: 2em;
  font-family: 'Kaushan Script', cursive;
  text-decoration: none;
}

nav i,
nav [class^="mdi-"], nav [class*="mdi-"],
nav i.material-icons {
  display: block;
  font-size: 24px;
  height: 60px;
  line-height: 60px;
}

nav ul a,
nav .brand-logo, nav .fa-github, nav .fa-linkedin-square {
  color: #263238;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  margin-top: -5px;
}

nav .fa-github, nav .fa-linkedin-square {
  font-size: 2em;
}

nav {
  opacity: 0.8;
}

/* -- PARALLAX --
 */

.parallax-container {
  height: 100%;
  line-height: 0;
  background-color: #263238;
  /*background-image: url("../img/palm_tree.jpg");*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.85;
}

 .secondary {
   height: 50%;
   background-image: url("../img/palm_tree_paradise.jpg");
   opacity: 0.9;
 }
 /* -- FOOTER --
 */

footer.page-footer {
 margin: 0;
 padding: 30px 0;
 background-color: #263238;
 color: white;
}

footer.page-footer a {
  text-decoration: none;
  color: white;
}

footer.page-footer ul {
  list-style: none;
}

.footer-text {
  font-size: 0.85em;
  line-height: 25px;
}

/* -- BUBBLE ANIMATION --
*/

.bubble {
  position: absolute;
  width: 3em;
  height: 3em;
  /*border: 1px solid rgb(0, 218, 166);*/
  border-radius: 100%;
}
