body {
  margin: 0;
  font-family: monospace;
}

p, li {
  font-size: 1rem;
}

.contact-links {
  font-size: 1rem;
}

nav {
  position: fixed;
  height: 3rem;
  width: 100%;
  background: #16161d; /* EIGENGRAU! */
  z-index: 1274981274981274981274981274;
  display: flex;
  text-align: center;
}

nav a {
  line-height: 3rem;
  flex: 1 1 25%;
  color: ghostwhite;
  text-decoration: none;
  font-size: 1.5rem;
}

nav a:hover {
  background: ghostwhite;
  color: #16161d;
}

div {
  outline: none;
}

.text-container {
  padding: 2rem 5rem;
}

/* OWL CAROUSEL */

.owl-item {
  height: 70vh;
  background: #455a64;
}

.owl-item div {
  height: 70vh;
  width: 50vw;
  background-position: center;
  background-size: cover;
}

.slide1 {
  background-image: url(https://picsum.photos/id/10/800/1200);
}

.slide2 {
    background-image: url(https://picsum.photos/id/1002/800/1200);
}

.slide3 {
    background-image: url(https://picsum.photos/id/1037/800/1200);
}

.slide4 {
    background-image: url(https://picsum.photos/id/1015/800/1200);
}

.slide5 {
    background-image: url(https://picsum.photos/id/1019/800/1200);
}

.slide6 {
  background-image: url(https://picsum.photos/id/1022/800/1200);
}

.owl-nav, .owl-dots {
    text-align: center;
}

.project-feature {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}